//@import '~bootstrap/scss/bootstrap'

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: calc(100% * 2 / 3);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
    height: 120px;
    background-color: white;
    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 80px;
      }
      nav {
        height: 100%;
        ul {
          display: flex;
          list-style: none;
          height: 100%;
          li {
            height: 100%;
            display: flex;
            align-items: center;
            a {
              height: 100%;
              line-height: 120px;
              color: #484848;
              margin-left: 40px;
              text-decoration: none;
              text-transform: uppercase;
              font-size: .75rem;
              font-weight: bold;
              border-bottom: 5px solid white;
              &:hover, &.active {
                color: #0282F9;
                border-bottom: 5px solid #0282F9;
              }
            }
          }
        }
      }
    }
}

.jumbotron {
    height: 400px;
    background-image: url(../img/jumbotron.jpg);
}
.current-series {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 55px;
    background-color: #0282F9;
    position: absolute;
    top: 495px;
    left: 320px;
    &:hover {
        border: 2px solid #0282F9;
        background-color: white;
        color: #0282F9;
        a {
          color: #0282F9;
        }
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 666px;
    background-color: #1C1C1C;
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
}

.card {
    width: calc(100% / 6 - 20px);
    margin: 10px;
    height: 240px;
    padding-top: 45px;
    &:hover {
      cursor: pointer;
    }
    .img-container {
      height: 185px;
      width: 100%;
      overflow-y: hidden;
      margin-bottom: 20px;
      &:hover {
      border: 2px solid white;
    }
    }
    span {
      text-transform: uppercase;
      font-size: .8rem;
      display: inline-block;
      &:hover {
      transform: scale(1.05);
    }
    }
}

.load-more {
display: flex;
justify-content: center;
align-items: center;
width: 185px;
height: 35px;
background-color: #0282F9;
margin-bottom: 20px;
&:hover {
    border: 2px solid #0282F9;
    background-color: white;
    color: #0282F9;
    a {
        color: #0282F9;
    }
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: .8rem;
    font-weight: bold;
}
}
section {
height: 155px;
background-color: #0282F9;
.container {
    height: 100%;
    nav {
    height: 100%;
    ul {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        &:hover {
            transform: scale(1.05);
        }
        .image {
            img {
            height: 50px;
            }
        }
        span {
            color: white;
            text-transform: uppercase;
            font-size: .9rem;
            padding-left: 1rem;
        }
        }
    }
    }
}
}

footer {
    .upper-footer {
      height: 370px;
      background-image: url(../img/footer-bg.jpg);
      background-size: cover;
      .container {
        display: flex;
        justify-content: space-between;

        height: 100%;
        .menues {
          display: flex;
          justify-content: flex-start;
          .col {
            margin-right: 1rem;
            nav ul {
              list-style: none;
              li:first-child {
                font-size: 1.2rem;
                font-weight: 800;
                padding: 40px 0 15px;
                text-transform: uppercase;
              }
              li {
                font-size: .8rem;
                padding: .15rem;
              }
              a {
                text-decoration: none;
                color: #959595;
                &:hover {
                  color: white;
                }
              }
            }
          }
        }
        .logo {
          display: flex;
          align-items: center;
          height: 100%;
          overflow-y: hidden;
        }
      }
    }
    .lower-footer {
      height: 120px;
      background-color: #303030;
      text-transform: uppercase;
      .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cta {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 50px;
          font-size: 1.1rem;
          font-weight: 800;
          border: 2px solid #0282F9;
          &:hover {
            border: 2px solid white;
            background-color: #0282F9;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
        nav ul {
          display: flex;
          align-items: center;
          list-style: none;
          li:first-child {
            color: #0282F9;
            font-size: 1.2rem;
            font-weight: 800;
            margin-right: 10px;
          }
          a {
            margin-left: 20px;
            text-decoration: none;
          }
        }
      }
    }
}
